<div class="splash">
  <div class="splash-image">
    <img src="/images/logo_crop.png">
  </div>
  <div class="splash-details">
    <p>Myrtle Caroline Williams Fleener was born May 18th, 1883 in Tulare County, California, and died May 18th, 1977 in Monterey, California. Myrtle was married to Edward Milton Fleener for 47 years. They had one son, Stanley M. Fleener, and four grandchildren. Myrtle preferred her grandchildren to call her "Granny" and would even charge them a penny for every time they used a different name--Granny or Grandma. She loved to play Parcheesi and Sorry and was an accomplished seamstress (and made most of her own clothes).</p>
    <p>In 2019, 42 years after her death, a box of Myrtle's cherished postcards was found. Those cards, dated 1904-1926, are presented here as examples of the art from the period, historical photographs of various locations, and as a glimpse into the courtship of an independent young woman growing up in the early 1900's.</p>
    <a href="/cards/">Enter Gallery</a>
  </div>
</div>
