  <div class="nav-links">
    <div class="nextprev-link prev">
      {{with .Site.RegularPages.Next . }}<a href="{{.RelPermalink}}">&lt; Previous</a>{{end}}
    </div>
    <div class="nextprev-link next">
      {{with .Site.RegularPages.Prev . }}<a href="{{.RelPermalink}}">Next &gt;</a>{{end}}
    </div>
  </div>

  <div class="content">
    <div class="content-detail">
      <table>
      <tbody>
      <tr><th>Cover:</th><td><p>{{ .Params.cover }}</p></td></tr>
      <tr><th>Date:</th><td><p>{{ if .Params.date }}{{ dateFormat "Monday, January 2nd, 2006" .Params.date }}
        {{ else if .Params.year }}{{ .Params.year }}
        {{ else }}Unknown{{ end }}</p></td></tr>
      </tbody>
      </table>
    </div>
    <div class="content-main">
      <div class="item-images">
        <div class="item-image"><a href="/images/items/{{ .Params.image_front }}" rel="lightbox" data-lightbox="{{ .Params.cover }}"><img src="/images/items/{{ .Params.image_front }}"></a></div>
        <div class="item-image"><a href="/images/items/{{ .Params.image_back }}" rel="lightbox" data-lightbox="{{ .Params.cover }}"><img src="/images/items/{{ .Params.image_back }}"></a></div>
      </div>
    </div>
    <div class="content-detail">
      <table>
      <tbody>
      <tr><th>Postmark:</th><td><p>{{ .Params.postmark | safeHTML }}</p></td></tr>
      <tr><th>From:</th><td><p>{{ .Params.from | safeHTML }}</p></td></tr>
      <tr><th>To:</th><td><p>{{ .Params.to | safeHTML }}</p></td></tr>
      <tr><th>Message:</th><td><p class="message">{{ .Params.message | safeHTML }}</p></td></tr>
      </tbody>
      </table>
	  </div>
    </div>

  <div class="nav-links">
    <div class="nextprev-link prev">
      {{with .Site.RegularPages.Next . }}<a href="{{.RelPermalink}}">&lt; Previous</a>{{end}}
    </div>
    <div class="nextprev-link next">
      {{with .Site.RegularPages.Prev . }}<a href="{{.RelPermalink}}">Next &gt;</a>{{end}}
    </div>
  </div>
